body, html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #333333 url('background.png');
    margin: 0;
    padding: 0;
}

#container {
    width: 1024px;
    height: 384px;
    margin: -188px 0 0 -578px;
    padding: 0 0 0 78px;
    position: absolute;
    top: 50%;
    left: 50%;
}



    #container .flip {
        width: 1024px;
        height: 384px;
        color: #dadada;
        font-size: 54px;
        font-weight: bold;
        text-align: center;
        line-height: 145px;
        letter-spacing: -2px;
        background: url('logo.png') no-repeat;
        position: relative;
    }
    
        #container .flip .break {
            width: 584px;
            height: 2px;
            background: #181818;
            border-bottom: 1px solid #343434;
            position: absolute;
            bottom: 10%;
            left: 19px;
        }

            

        #container .initial {
            width: 550px;
            color: #949494;
            font-size: 12px;
            line-height: 21px;
            margin: 0 0 0 35px;
        font-weight: bold;
		font-family: Arial;


        }
        
            #container .initial *:first-child {
                margin: 0;
            }

			#container .initial a {
				color: #cbcbcb;
	
			text-decoration: none;
				border-bottom: 1px solid #585858;
			}
			
				#container .initial a:hover {
					color: #e2e2e2;
				}

		#container .footer {
			font-size: 11px;
		    position: absolute;
            margin: 0 0 -300px 135px;
            bottom: 5%;

		}
	
