	<div class="row">

            <div class="span7 offset1">
		<h2>Emergence Cloud Security Suite</h2>
		<p>Emergence is a cloud based intrusion detection and prevention application
			for servers of small and large business. Using advanced machine 
			learning and aggregation, Emergence offers unparalleled defense
			against emerging and unknown threats. Instead of relying on engineers to generate signatures for intrusion prevention one at a time, Emergence's machine learning algorithms can react in realtime and block intruders long before traditional IPS systems can. </p>
		</div>
	</div>

	 <div class="row">
	
            <div class="span3">
              <h2>Cloud Based Protection</h2>
              <p>Firewalls and IDS/IPS and other perimeter defense systems are no longer enough to stop skilled dedicated attackers. Companies face an ever increasing deluge of security information, often falling through the cracks, Emergence cloud security reverses that trend allowing you to stay on top of the security arms race and get a handle on the ever increasing flow of data.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span3">
              <h2>Machine Learning</h2>

              <p>Emergence uses advanced machine learning technology to tell the good guys from the bad guys. Machine learning allows our system to adapt to new unknown threats instantly and prevent intrusions long before patches are available or signatures are produced for IPS systems.  </p>

  			 </div><!--/span-->

            <div class="span3">
              <h2>Aggregation</h2>

              <p>Intruder information is shared amongst the entire subscriber pool, each machine helps protect all the others. Cloud security offloads the responsibility for security from a few machines to many thousands. Cooperation is what sets our product apart. No longer is each company a small dominion to be protected by itself, we come together to protect each other. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->

          </div><!--/row-->

		 <div class="row">
           <div class="span3 offset1">
              <h2>Modular</h2>
              <p>Emergence is modular. You install Emergence on each machine you want to protect, and create 'instances' that monitor a services you have running on that machine. Expand monitoring services by adding different instance types as you need them, instantly, with very little configuration overhead.</p>


            </div><!--/span-->

           <div class="span3 offset1">
              <h2>Web UI</h2>
              <p>We use a Web based interface to keep configuration centralized and easy to manage. No sprawling mess of configuration files spread out across the land of  different machines, each one requiring individual maintainence. Gone are those days. </p>


            </div><!--/span-->

		</div>

          <div class="row">
            <div class="span4">
              <h2>Current Modules</h2>
			  <ul><i class="icon-plus-sign"></i>Apache Webserver on Linux (x86 and x86-64)</ul>
              <p>Incoming requests are monitored for malicious activity and reported to a centralized aggregation hub. Currently only packet captures are supported. Access log monitoring is in the works.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>

            </div><!--/span-->
            <div class="span4">
              <h2>Modules Coming Soon</h2>
				<ul><i class="icon-minus-sign"></i>SSH</ul>
				<ul><i class="icon-minus-sign"></i>Sudo</ul>
				<ul><i class="icon-minus-sign"></i>NFS</ul>
				<ul><i class="icon-minus-sign"></i>IIS on Windows</ul>
              <p>Soon we will be supporting sudo, SSH, NFS and others. Both the local system and the network will have modules for monitoring and preventing intrusion.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">

            </div><!--/span-->
          </div><!--/row-->


