<section class="content-header">
  <h1>
    Silicon Tooling Cluster Monitor and Analysis System
    <small>[Si] is composed of several discrete components, the user interface (you are here), SiliconDaemon which runs on each node in the cluster, as well as several optional plugins.</small>
  </h1>
  <p>[Si] is composed of several discrete components, the user interface (you are here), SiliconDaemon which runs on each node in the cluster, as well as several optional plugins.</p>
</section>