<h1>User Settings</h1>

<%= @user.name %>


    <table>
      <tr>
      </tr>
      <% @user.each do |x| %>
          <tr>
            <td>baz</td>
            <td>foo</td>
          </tr>
      <% end %>
    </table>


<br />

