
 <div class="row">

 <div class="span9">
	<h1>Emergence Security Suite</h1>
	<h2>Distributed Intrusion Protection Systems</h2>
 </div>

       <div class="span9">
          <div class="hero-unit">
            <h1>Emergence</h1>
            <h2>Providing sanctuary in the digital age.</h2>
                        <p>Protect your most valuable assets with our cloud based computer 
                                and network intrusion detection and prevention suite. We use bleeding-edge machine learning algorithms and advanced aggregation strategies to create a collective wall of protection for our users. </p>
            <%= link_to 'Learn More',  {:controller => 'products', 
                        :action => 'index'},  :class => 'btn btn-primary btn-large ' %>
          </div>

<!--/span-->
      
</div><!--/row-->

<br />




