<section class="content-header">
  <h1>
   Silicon Tooling
    <small>[Si] Dashboard + [Si] Daemon + optional plugins</small>
  </h1>
  <p>You are logged in as <%= @user.username %></p>
  <p>Physical and Virtual Hosts:</p>
  <p> <%= @all_machines.each {|machine|   machine  } %></p>

  <p> <%= @redis %></p>
</section>