	 <div class="row">
	
            <div class="span3">
              <h2>Who we are</h2>
              <p>We are a group of developers, security people, business people, and artists all united by our passion for security and our respective professions. Passion is a necessary condition to fit in here. We have a great fellowship and sense of community and purpose. And we all engage in healthy living, from working out, to having a company garden. <br>And above all we love learning, and building things; often together.<b> Curiousity and love of life reign here.</b></p>



            </div><!--/span-->


            <div class="span6">
				<%= image_tag '/images/old_books.jpg' %>
  			 </div><!--/span-->


          </div><!--/row-->


	 <div class="row">
			<div class="span3">

			</div>
            <div class="span6 offset3">
              <h2>Changing Security</h2>
              <p>We have come together because we have a vision that will revolutionize modern computer and network security. We have taken an entirely different approach to security. The traditional methods are ineffective as the media reports time and time again. Perimeter defense has been declared dead again and again. We aim for our products to equalize the field between defenders and attackers and remedy the current asymmetric advantage attackers enjoy </p>
            
            </div><!--/span-->



          </div><!--/row-->

