/* meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* end meyer reset */

/*
Primary Colors:
BluGr   Gr      Blu     Lb      Silv
4E5359	3D3F43	19283A	9CA3AC	A0A5AC

Secondary Colors A:
Beige   DrkBei  YlwBeig Ofwhit  Ofwhit2
888475	66635B	584D26	C3BFB0	C3C0B5

Secondary Colors B:
                Brown
887C75	665F5B	583926	C3B7B0	C3BAB5
*/

body#emergence {
	font: 62.5%/1.6 Georgia, Times, "Times New Roman", serif;
	color: #000;
	position: relative;
	background: #888475 url("../bg1.png") top left repeat;
	margin-top: 75px;

}

p {
	font-size: 1.4em;
	margin: 0 0 1.6em;
	padding: 0 24px;
	clear: both;
}

abbr, acronym { cursor: help; }
span.accesskey { border-bottom: 1px dotted #fff; }

:link, :visited { font-weight: bold; text-decoration: none; color: #1e0c00; }
a:active { color: #f00; }
a:hover { color: #000; font-weight: bold; text-decoration: underline; }
a img { border: 0; }

#container {
	width: 645px;
	padding: 0 30px 0 180px;
	float: left;
	background: url("../bg_container.gif") 0 50px repeat-y;
}

#sidebarNav {
	width: 130px;
	background-color: #3c1700;
	position: absolute;
	top: 100px;
	left: 10px;
	padding: 2.4em 10px .8em;
	color: #cec5bf;
}

#sidebarNav a { color: #ebe7e5; }

	#sidebarNav h3 {
		display: block;
		margin: 0 0 1.2em;
	}

	#sidebarNav ul {
		margin: 0 0 2.4em;
		font-size: 1em;
		text-align: center;
		line-height: 1.2em;
	}

	#sidebarNav ul li {
		margin-bottom: .8em;
		text-align: center;
	}

	#lselect h3 {
		background-image: url("../x.png");
	}

	#lselect ul li {
		margin: 0 0 1.2em;
	}

	#lselect ul li a {
		background-color: #2d1100;
		display: block;
		padding: .5em 5px .6em;
		font-size: 1.1em;
		margin-bottom: .3em;
		color: #fff;
	}

	#lselect ul li a.c {
		background-color: transparent;
		display: inline;
		padding: 0;
		font-size: 1em;
		margin-bottom: 0;
		color: #ebe7e5;
	}

#nav {

	width: 683px;
	float: left;
	background-color: #3c1700;
	position: absolute;
	top: 100px;
	left: 160px;
	list-style: none;
	color: #cec5bf;
	padding: .8em 0px .8em 0em;

}

#nav li {
		padding: 8px 15px;
		font-weight: bold;
		margin: 0px 0px 0px 10px;
	float: left;
	background-color: #2d1100;
display: block;

}

#nselect a {
	display: block;
	width: 85px;
	font: bold 100%/100% Georgia, "Times New Roman", Times, serif;
	padding: 0px 4px;
	margin: 0px 0px 0px 0px;
	color: white;
	text-align: center;
}

	#intro #quickSummary {
		background: #3C1700 url("../x.png") 54% 15px no-repeat;
		color: #fff;
		position: absolute;
		top: 40em;
		left: 10px;
		width: 150px;
		padding: 125px 0 0;
	}

	#intro #quickSummary p.p1 {
		font-size: 1.2em !important;
		font-style: italic;
		padding: 0 11px 0 14px;
	}

	#intro #quickSummary p.p2 {
		background: #2d1100 url("../x.png") 50% 1.5em no-repeat;
		padding: 3em 15px 1.6em;
		margin: 0;
		font-size: 1.1em !important;
	}

	#intro #quickSummary a { color: #888475; }


	#explanation h3 { background-image: url("h_what-is-about.gif"); }
	#participation h3 { background-image: url("h_participation.gif"); }
	#benefits h3 { background-image: url("h_merit-benefits.gif"); }
	#requirements h3 {
		background-image: url("../x.png");
		width: 621px;
		margin-left: -633px;
	}


	#cornerLogo {
		position: absolute;
		z-index: 101;
		top: -75px;
		left: 0;
		width: 179px;
		height: 152px;
		text-indent: -10001px;
		background: url("../x.png") top left no-repeat;
	}

	#headerLogo {
		margin: 0 0 2.5em -95px;
		width: 770px;
		height: 302px;
		text-indent: -10001px;
		display: block;
		background: url("../header.png") top left no-repeat;

		border-bottom: 4px solid #888475;

	}


#content {
	padding: .5em 0 0;
	position: relative;
	background: #888475 url("../bg1.png") top left repeat;
	color: #1e1b1b;
	font: normal 110%/100% Georgia, "Times New Roman", Times, serif;
	float: center;
	margin-left: 1%;
}


#contentButtonWrapper{
margin: 0 0 0 5%;
float: right;
}
#contentButton a {

	color: #2d1100;
 	border: solid 2px #776b69;
	padding: 3px;
	background: #b1ae9e;
	display: block;
	width: 90px;
	margin: 5px;
	float: left;
	text-align: center;

}

		#content .list-line-even {
			background: #b1a29e;
		}

		#content .list-line-odd {
			background: #94817e;
		}

		#content table a{
		color: #2d1100;
		}

		#content table {
		text-align: center;
		margin: 10px;
		padding: 10px;
		width: 95%;
		color: #2d1100;
		text-decoration: underline;
		}

		#content table th {
		padding: 0px 0px 2.5px 4px;
		border-bottom: solid 1px #000;
		font-weight: bold;
		}

		#content table td {
		padding: 5px 0px 2.5px 5px;
		color: #1e1b1b;

		border: solid 1px #b1ae9e;
		}

	#footer {
		float: left;

		right: 26px;
		background: url("../x.png") top left no-repeat;
		width: 685px;
		height: 30px;
		margin-top: 200px;
		padding-top: 10px;
		overflow: visible;
		position:relative;
		display: inline;



	}

	#footWrapper {
		float: right;
		left: -50%;
		padding: 10px 10px 10px 10px;

	}
	#footer a {
/*
		text-indent: -10001px;
*/
		color: #d5d2c9;
		font: bold 90.5%/1.6 Georgia, Times, "Times New Roman", serif;
		position:relative;
		right: 50%;
		float: left;
		display: block;
		text-align: center;

		padding: 10px 10px 10px 10px;
		margin: 0 7px;

	}


	h1 {

		font: bold 150.5%/1.6 Arial, Times, "Times New Roman", serif;
	}

	h2 {

	}



	h3 {
		text-align: center;
		color: #472101;
		height: 27px;
		text-indent: -10001px;
		background-position: 50% 0;
		background-repeat: no-repeat;
		margin: 0 0 .8em;
	}




#extraDiv1 {
	width: 855px;
	height: 100px;

	display: block;
	float: left;
	background: url("../bg_req.gif") top left no-repeat;
}

/* don't need'em */
#extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 { display: none; }



.form fieldset {
  background: #b1ae9e;
  border: 2px solid #776b69;
  padding: 2.5px;
  width: 300px;
}

.form legend {
  color: #2d1100;
  background: #886d69;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.form label {
  width: 5em;
  padding: 2.5px;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
}

.form .submit {
  padding-top: 5px;
  margin-left: 5.5em;
}




.wc-results {
    overflow: auto;
    margin: 0px;
    padding: 5px;
    font-family: courier;
    color: gray;
    background-color: black;
    height: 400px;
}
.wc-results pre {
    display: inline;
}
.wc-command {
    margin: 0px;
    font-family: courier;
    color: gray;
    background-color: black;
    width: 100%;
}







