<!-- This is obviously designed for functionality - not beauty. -->
<% for controller in @controllers %>
  <table class="table table-striped" style="width: 80%; font-size: 10px">
  <th><%= controller %></th>
  <% for method in controller.access_list.keys %>
    <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td>#<%= method %></td>
    <td style="padding-left: 15px;">
    <% if !controller.access_list[method.to_sym].nil? %>
      <% for role in controller.access_list[method.to_sym] %>
        :<%= role %>
      <% end %>
    <% end %>
    </td></tr>
  <% end %>
  </table>
<% end %>

