 <div class="row">

 <div class="span5 offset2">
<h1>Prices for Subscriptions</h1>
<p>Each price listed is per instance per machine per month.</p>

 </div>

 <div class="span9">


<h3>Apache Monitoring Module</h3>
<h4><i>For Linux x86 and x86-64 - Monitors both access logs and raw network traffic</i></h4>

 <table class="table table-striped">
  <thead>
   <tr>
    <th>1-10</th>
	<th>10-100</th>
    <th>100-1000</th>
	<th>1000-10000</th>
	<th>10000 ></th>

   </tr>
   </thead>



    <tbody>


  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
	<td>$50/per</td>
	<td>$45/per</td>
	<td>$35/per </td>
	<td>$30/per</td>
	<td>$25/per</td>







 </tr>
 
  </tbody>
</table>

				

        </div><!--/span-->
      </div><!--/row-->

<br />



<%= link_to 'Purchase', {:controller => 'subscription', :action => 'new'},  :class => 'btn btn-primary btn-large' %>




        </div><!--/span-->
      </div><!--/row-->


